<!DOCTYPE html>
<head>
  <meta charset="utf-8">
<!-- Compiled and minified CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="/syles/owl.theme.default.min.css">

    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>What's Cookin'</title>
  <script>
    function logout() {
        localStorage.clear();
        window.location.href = "/";
    }
  </script>
</head>

<body  data-enhance="false">
   <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="/images/logo.png" width="140"></a>
      <ul class="right hide-on-med-and-down">
       <li><a href="/login">Login</a></li>
       <li><a href="/cart"> Cart </a></li>
       <li><a href="javascript:logout();">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="/login">Login</a></li>      
        <li><a href="/cart"> Cart </a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {{{body}}}
    <footer class="page-footer red darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="/images/logo-full-white-big.png" width="240">
          <p><a href="#"><img src="/images/apple.png" width="120"></a>
          <a href="#"><img src="/images/google.png" width="120"></a>
          </p>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Navigation</h5>
          <ul>
            <li><a class="white-text" href="/register" target="_blank">Register</a></li>
            <li><a class="white-text" href="/swipe" target="_blank">Swipe Here</a></li>
            <li><a class="white-text" href="/chef/meals" target="_blank">Chef Page</a></li>
            <li><a class="white-text" href="/mealpage" target="_blank">Meal Page</a></li>
            <li><a class="white-text" href="https://docs.google.com/presentation/d/1pTOBeRqn5BhhdhGCGPDgAaigVFhfXZJCwJdzzzTV1cM/edit?usp=sharing" target="_blank">About</a></li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/erwinangeles" target="_blank">Meet Chef Erwin</a></li>
            <li><a class="white-text" href="https://github.com/cowankc" target="_blank">Meet Chef Kevin</a></li>
            <li><a class="white-text" href="https://github.com/lperales321" target="_blank">Meet Chef Lorena</a></li>
            <li><a class="white-text" href="https://github.com/sarahbmcl" target="_blank">Meet Chef Mac</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Checkout the <a class="brown-text text-lighten-3" href="https://github.com/cowankc/whatsCookin" target="_blank">Githup Repository </a>
      </div>
    </div>
  </footer>
</body>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://materializecss.com/templates/parallax-template/js/init.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/swipe.js"></script>
</html>
