<head>

    <style>
        #cart-area{
            max-width: 80%;
            margin: auto;
            padding:10px;
            text-align: center;
        }
    </style>

    <script>
    
    </script>

</head>


<main>
      <div>
            <div class="container">
                    <h3 style="margin-left: 20px">Shopping Cart</h3>
                     <div class="row">
                         <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                            </thead>

                            <tbody id="items_table">
                           
                            </tbody>
                        </table>
                        <br>
                        <br>
                        <button class="btn red right" style="margin-right: 20px">Checkout</button>
                        <button class="btn right btn-clear-cart" style="margin-right: 20px">Clear Cart</button>
                     </div>
                </div>

            {{!-- <label><input type="button" value="Clear" onclick="ClearAll()">
            * Delete all items</label> --}}
        </div> 
</main>