<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        #card-area{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-top:10px;
        }

        #rating-area{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        #rating-buttons{
            padding-top:5px;
        }

        a {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 10px;
            font-size: 15px;
        }
    </style>

    <script>

    let likeCount=0;
    let totalLikes=0;

    function addToCart(){
      // add Meal to cart
      //$(Meal).appendTo(#cart)
      console.log("added to cart")
    };

    function like(){
        //save to ratings
        likeCount ++;
        totalLikes ++;
        console.log("liked");
        console.log("like count= " + likeCount);
        console.log("total votes= " + totalVotes);
    };

    function dislike(){
        //save to ratings
        totalLikes ++;
        console.log("disliked");
        console.log("like count= " + likeCount);
        console.log("total votes= " + totalVotes);
    };
    
    </script>

</head>

<main>
        
    <div id="card-area" class="container">
        <div class="row valign-wrapper">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-image">
                        <img src="/images/pasta.jpeg">
                        <span class="card-title">{{meal.mealName}}</span>
                        <button class="btn-floating halfway-fab waves-effect waves-light red" id="add-to-cart" onclick="addToCart()"><i class="material-icons">add_shopping_cart</i></button>
                    </div>
                    <div class="card-content">
                        <h6 style="text-align: left">Primary Ingredients:</h6>
                        <ol>
                            {{#each ingredients}}
                            <li>{{ingredient}}</li>
                            <li>{{ingredient}}</li>
                            <li>{{ingredient}}</li>
                            {{/each}}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="rating-area">
        <div class="row" id="rating-buttons">
            <div class="col sm12">
                <a class="btn-floating btn-large waves-effect waves-light green" id="like" onclick="like()"><i class="material-icons">thumb_up</i></a>
                <a class="btn-floating btn-large waves-effect waves-light red" id="dislike" onclick="dislike()"><i class="material-icons">thumb_down</i></a>
        </div>
        <div class="row" id="rating-text">
            <h6 class="col sm12">Rate This Meal</h6>  
        </div>     
    </div>

</main>

<div id="return-to-swiping">
    <a href="/swipe"><i class="material-icons">subdirectory_arrow_left</i>Swipe Again</a>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>