<head>

<script>


</script>

<style>
#card-area{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
</style>

</head>

<main>
    
<div id="card-area" class="container">
    <div class="row valign-wrapper">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-image">
                    <img src="/images/pasta.jpeg">
                    <span class="card-title">TEST NAME</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_shopping_cart</i></a>
                </div>
                <div class="card-content">
                    <h6 style="text-align: left">Ingredients:</h6>
                    <ol>
                        <li> </li>
                        <li> </li>
                        <li> </li>
                        <li> </li>
                        <li> </li>
                    </ol>
                </div>
                <div class="card-rating">
                    <div class="rateit" data-rateit-mode="font">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</main>