{{!-- Heading for menu item --}}
<div class="container">
    <h2>
        <span id="menu-item">
            {{!-- ITEM NAME TEST --}}
            TEST
        </span>
    </h2>
</div>

<div class="container" id="menu-detail">
    <div class="row">
        <div class="col s6">
            {{!-- IMAGE TEST --}}
            <img src="/images/lunchable.jpg">
        </div>
        <div class="col s6">
            <span id="menu-details">
                {{!-- DETAILS TEST --}}
                GIVE ME FOOD
            </span>
        </div>
    </div>
</div>