<main>

       <div class="row">
            <div class="col m3 s12">
                    <div class="card">
            <div class="card-image">
            <img src="https://www.independent.ie/incoming/article35010156.ece/ALTERNATES/h342/iw%20IMG_9611_2.jpg">
            <span class="card-title">Hi, Jannet</span>
            </div>
            <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
            <a href="#">Add New Meal</a>
            </div>
           </div>
            </div>
           <div class="col m9 s12">
               <h4>Manage Your Meals</h4>
                  <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Chicken Alfredo</td>
            <td>Italian</td>
            <td>$10.87</td>
          </tr>
          <tr>
            <td>Steak Tacos</td>
            <td>Mexican</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Pizza</td>
            <td>Italian</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
           </div>

       
   </div>

</main>
